body {
  margin: 0;
  min-width: 100%;
  font-family: "Lato", "Segoe UI", "Myriad Pro", "Helvetica", "Arial", sans-serif;
}

p, a {
  letter-spacing: 0.3px;
  color: #999;
  font-size: .9em;
  line-height: 1.3em;
  font-weight: 300;
}

a {
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: #000;
}

/**************************************************
 * Text
 **************************************************/

p.text-white {
 color: #FFF;
}

p.text-black {
  color: #000;
}

p.text-small {
  font-size: .6em;
}

p.text-larger {
  font-size: 1.4em;
}

p.text-largest {
  font-size: 2.2em;
}

.text-button {
  font-size: .8em;
  font-weight: 700;
  letter-spacing: 1px;
}

/**************************************************
 * Home
 **************************************************/
#home {
  /* Relative to itself, no change, but children can set their position */
  position: relative;
  height: 900px;
}

#hero-image {
  background: url('../img/cover.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;

  /* Should not be affected by the previous element under the same parent */
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

/*@media only screen and (max-device-width: 489px) {
  #hero-image {
    width: 300px;
    height: 250px;
  }
}*/

/**************************************************
 * Logo
 **************************************************/
#logo {
  /* Absolute against the ancestor */
  position: relative;
  top: 60px;
  text-align: center;
}

/**************************************************
 * About
 **************************************************/
#about {
  min-height: 500px;
  text-align: center;
  padding: 130px 0 140px 0;
}

#about img,
#design-works img {
  width: 40%;
}

@media only screen and (max-device-width: 489px) {
  #about img,
  #design-works img {
    width: 80%;
  }
}

#text-about {
  /* Implicitly width: 100% from the parent, but want to create a container */
  width: 40%;
  /* This container has to be aligned center, without being an inline-block */
  margin: 0 auto;
}

@media only screen and (max-device-width: 489px) {
  #text-about {
    width: 80%;
  }
}

#text-about p {
  text-align: justify;
}

/**************************************************
 * Arch
 **************************************************/
#design-works {
  height: 900px;
  text-align: center;
  padding: 20px 0 40px 0;
  background-color: #231F20;
}

#project-table {
  margin-bottom: 50px;
  height: 560px;
}

#column-1,
#column-2,
#column-3,
#column-4 {
  float: left;
  height: 100%;
}

#column-1 {
  width: 32%;
}

#column-2 {
  width: 20%;
}

#column-3,
#column-4 {
  width: 24%;
}

#project-interactive-data-publics {
  height: 71.42857142857143%;
  background: url('../img/architecture/interactive-data-publics/thumbnail.jpg');
  background-size: cover;
}

#project-professional-projects {
  height: 28.57142857142857%;
  background: url('../img/architecture/professional-projects/thumbnail.jpg');
  background-size: cover;
}

#project-redo-glass-house {
  height: 35.71428571428571%;
  background: url('../img/architecture/redo-glass-house/thumbnail.jpg');
  background-size: cover;
}

#project-the-road-to-sustainable-world-jakarta {
  height: 64.28571428571429%;
  background: url('../img/architecture/the-road-to-sustainable-world-jakarta/thumbnail.jpg');
  background-size: cover;
}

#project-activate-the-fringes {
  height: 100%;
  background: url('../img/architecture/activate-the-fringes/thumbnail.jpg');
  background-size: cover;
}

#project-nexus {
  height: 57.14285714285714%;
  background: url('../img/architecture/nexus/thumbnail.jpg');
  background-size: cover;
}

#project-event-balloon {
  height: 42.85714285714286%;
  background: url('../img/architecture/event-balloon/thumbnail.jpg');
  background-size: cover;
}

.project-trait {
  /* Position relative so .project-name (child) can depend on this element */
  position: relative;
  /* Set to treat the <a> as a block/div, thus can hold background, etc. */
  display: block;

  opacity: 0.3;
  transition: opacity .5s;
}

.project-name {
  position: absolute;
  left: 10px;
  bottom: 0;

  visibility: hidden;
  transition: visibility .1s;
}

.project-trait:hover {
  opacity: 1;
}

.project-trait:hover .project-name {
  visibility: visible;
}

/**************************************************
 * Arch-Showcase (Popout)
 **************************************************/

#showcase {
  /* For the blank screen */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 31, 32, .9);

  /* For the content */
  text-align: center;
  padding-top : 30px;
}

/* Disable scrolling while on showcase popout */
body.modal-open {
  overflow: hidden;
}

/* Image navigation line */
#showcase-prev,
#showcase-next,
#showcase-image {
  vertical-align: middle;
}

#showcase-prev,
#showcase-next {
  display: inline-block;
  margin: 20px;
  height: 35px;
  width: 18px;
}

#showcase-prev {
  background: url('../img/arrow-left.png') no-repeat;
}

#showcase-next {
  background: url('../img/arrow-right.png') no-repeat;
}

#showcase-prev:hover,
#showcase-next:hover {
  opacity: .7;
}

/* Showcase text properties */
#showcase-image,
#showcase-title,
#showcase-desc {
  display: inline-block;
  width: 50%;
  padding-bottom: 15px;
}

#showcase-desc {
  text-align: justify;
}

/* Hide the text for anchor tag with text, alternative to 'alt' */
.hide-text {
  line-height: 0;
  font-size: 0;
  color: transparent;
}

/**************************************************
 * Contact
 **************************************************/
#contact {
  height: 200px;
  text-align: center;
  padding: 300px 0 200px 0;
  transition: background-color .5s;
}

/**************************************************
 * Footer
 **************************************************/
#footer {
  /* Adding relative position to control the z-index to hide nav bar */
  position: relative;
  z-index: 1;

  /* Specific to the block */
  padding: 20px 0 20px 0;
  background: url('../img/footer-batik.jpg');

  /* Specific to the content inside it */
  text-align: center;
}

/**************************************************
 * Social Icons
 **************************************************/
#social-icons {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.circle {
  display: inline-block;
  width: 35px;
  height: 35px;
  opacity: 0.8;
  transition: background .4s;
}

#fb {
  background: url('../img/share/facebook.svg');
}

#linkedin {
  background: url('../img/share/linkedin.svg');
  margin-left: 10px;
}

#twitter {
  background: url('../img/share/twitter.svg');
  margin-left: 10px;
}

#youtube {
  background: url('../img/share/youtube.svg');
  margin-left: 10px;
}

#fb:hover {
  background-image: url('../img/share/facebook-hover.svg');
}

#linkedin:hover {
  background-image: url('../img/share/linkedin-hover.svg');
}

#twitter:hover {
  background-image: url('../img/share/twitter-hover.svg');
}

#youtube:hover {
  background-image: url('../img/share/youtube-hover.svg');
}

/**************************************************
 * Buttons
 **************************************************/
.back-home-white,
.back-home-black {
  margin: auto;
  display: inline-block;
  height: 25px;
  width: 140px;
  padding-top: 8px;
  font-size: .7em;
  font-weight: 700;
  letter-spacing: .7px;
  transition: background-color .5s, color .5s;
}

.back-home-white {
  border: 0.2px solid rgba(0, 0, 0, 0.1);
}

.back-home-black {
  border: 0.2px solid #999;
}

.back-home-white:hover {
  border: 0.2px solid rgba(0, 0, 0, 0);
  color: #000;
}

.back-home-black:hover {
  border: 0.2px solid rgba(0, 0, 0, 0);
  color: #FFF;
}

#filters ul {
  padding-left: 0;
}

#filters ul li {
  display: inline-block;
  margin: 20px 10px 20px 0;
}

.filter-button {
  display: inline-block;
  transition: color .5s;
  padding: 5px 10px 5px 10px;
  border: 0.2px solid rgba(255,255,255,0.5);
}

.filter-button.active {
  background-color: #fff;
  color: #000;
}

.filter-button:hover {
  background-color: #fff;
  cursor: pointer;
}

/**************************************************
 * Navbar
 **************************************************/
#navbar {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
}

#navbar ul {
  /* By default, <ul> has some padding for the bullet symbol */
  padding: 0;
}

#navbar ul li {
  /* We want the <li> (list item) to list horizontally */
  display: inline-block;
  width: 24%;
}

#navbar ul li a {
  transition: color .5s;
}
