body {
  margin: 0;
  min-width: 1500px;
  font-family: "Noto Sans", "Segoe UI", "Myriad Pro", "Helvetica", "Arial", sans-serif;
}

/**************************************************
 * Home
 **************************************************/
#home {
  display: block;
  height: 1000px;
  text-align: center;
  background: url('../img/cover.png');
  background-size: cover;
}

/**************************************************
 * About
 **************************************************/
#about {
  display: inline-block;
  position: absolute;
  top: 700px;
  height: 990px;
  width: 100%;
  visibility: hidden;
}

#about-content {
  display: block;
  height: 530px;
  text-align: center;
  padding: 80px 0 80px 0;
  background-color: #ffffff;
}

#text-about {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 500px;
  top: -20px;
}

#text-about p {
  font-size: 0.8em;
  letter-spacing: 0.3px;
  line-height: 20px;
  text-align: justify;
  color: #000000;
}

/**************************************************
 * Arch
 **************************************************/
#architecture {
  display: block;
  height: 840px;
  text-align: center;
  padding: 80px 0 80px 0;
  background-color: #231F20;
}

#project-table {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
  padding: 0;
  height: 560px;
  width: 1500px;
}

#project-occupy-a-pool {
  left: 0;
  height: 560px;
  width: 480px;
  background: url('../img/architecture/occupy-a-pool/thumbnail.jpg');
}

#project-pcp-mall-extension {
  left: 480px;
  height: 200px;
  width: 300px;
  background: url('../img/architecture/pcp-mall-extension/thumbnail.jpg');
}

#project-nexus {
  top: 200px;
  left: 480px;
  height: 360px;
  width: 300px;
  background: url('../img/architecture/nexus/thumbnail.jpg');
}

#project-parahyangan-residences {
  left: 780px;
  height: 560px;
  width: 360px;
  background: url('../img/architecture/parahyangan-residences/thumbnail.jpg');
}

#project-redo-glass-house {
  left: 1140px;
  height: 320px;
  width: 360px;
  background: url('../img/architecture/redo-glass-house/thumbnail.jpg');
}

#project-event-balloon {
  top: 320px;
  left: 1140px;
  height: 240px;
  width: 360px;
  background: url('../img/architecture/event-balloon/thumbnail.jpg');
}

.project-trait {
  display: inline-block;
  position: absolute;
  opacity: 0.3;
  transition: opacity .5s;
}

.project-name {
  display: inline-block;
  position: absolute;
  text-align: left;
  left: 15px;
  bottom: 10px;
  font-size: 1.4em;
  letter-spacing: 0.3px;
  color: #ffffff;
  visibility: hidden;
  transition: visibility .1s;
}

#project-occupy-a-pool:hover,
#project-pcp-mall-extension:hover,
#project-nexus:hover,
#project-parahyangan-residences:hover,
#project-redo-glass-house:hover,
#project-event-balloon:hover {
  opacity: 1;
}

#project-occupy-a-pool:hover .project-name,
#project-pcp-mall-extension:hover .project-name,
#project-nexus:hover .project-name,
#project-parahyangan-residences:hover .project-name,
#project-redo-glass-house:hover .project-name,
#project-event-balloon:hover .project-name {
  visibility: visible;
}

/**************************************************
 * Arch-Showcase (Popout)
 **************************************************/

#showcase {
  /* For the blank screen */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 31, 32, .8);

  /* For the content */
  text-align: center;
  padding-top : 100px;
}

/* Disable scrolling while on showcase popout */
body.modal-open {
  overflow: hidden;
}

/* Image navigation line */
#showcase-prev,
#showcase-next,
#showcase-image {
  vertical-align: middle;
}

#showcase-prev,
#showcase-next {
  display: inline-block;
  margin: 20px;
  height: 35px;
  width: 10px;
}

#showcase-prev {
  background: url('../img/arrow-left.png') no-repeat;
}

#showcase-next {
  background: url('../img/arrow-right.png') no-repeat;
}

/* Showcase text properties */
#showcase-image,
#showcase-title,
#showcase-desc {
  display: inline-block;
  width: 700px;
  color: #ffffff;
  padding-bottom: 15px;
}

#showcase-title {
  font-size: 1.7em;
}

#showcase-desc {
  font-size: .7em;
  text-align: justify;
}

/* Hide the text for anchor tag with text, alternative to 'alt' */
.hide-text {
  line-height: 0;
  font-size: 0;
  color: transparent;
}

/**************************************************
 * Music
 **************************************************/
#music {
  display: block;
  height: 565px;
  text-align: center;
  padding: 80px 0 80px 0;
  background-color: #ffffff;
}

#music-box {
  display: inline-block;
  position: relative;
  margin: 70px 0 100px 0;
  text-align: center;
  padding: 0;
  height: 250px;
  width: 500px;
}

#music-box1,
#music-box2 {
  position: absolute;
  height: 210px;
  width: 250px;
  padding-top: 40px;
  font-size: 3em;
  color: #ffffff;
  text-decoration: none;
  transition: background .5s;
}

#music-box1 {
  background: url('../img/music/youtube.jpg');
  left: 0;
}

#music-box2 {
  background: url('../img/music/facebook.jpg');
  left: 250px;
}


.music-click {
  visibility: hidden;
}

#music-box1:hover {
  background: #e12a27;
}

#music-box2:hover {
  background: #3b5998;
}

#music-box1:hover .music-click,
#music-box2:hover .music-click {
  visibility: visible;
}

/**************************************************
 * Contact
 **************************************************/
#contact {
  display: block;
  height: 40px;
  min-width: 600px;
  text-align: center;
  padding: 25px 0 25px 0;
  background-color: #231F20;
  transition: background-color .5s;
}

#contact:hover {
  background-color: #000000;
}

.mailink {
  text-decoration: none;
}

/**************************************************
 * Footer
 **************************************************/
#footer {
  display: block;
  height: 60px;
  text-align: center;
  padding: 55.5px 0 55.5px 0;
  background: url('../img/footer-batik.jpg');
}

/**************************************************
 * Logo
 **************************************************/
#logo {
  display: inline-block;
  position: relative;
  top: 300px;
}

.logo-small {
  display: inline-block;
  position: relative;
  top: -20px;
}

/**************************************************
 * Text
 **************************************************/
.text-white,
.text-brown,
.text-black {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 500px;
  top: -20px;
  font-size: 0.8em;
  letter-spacing: 0.3px;
  line-height: 20px;
}

.text-white {
  color: #ffffff;
}

.text-brown {
  color: #e7d4b4;
}

.text-black {
  color: #000000;
}

/**************************************************
 * Social Icons
 **************************************************/
#social-icons {
  position: fixed;
  top: 20px;
  right: 20px;
}

.circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  transition: background .4s;
}

#fb {
  background: url('../img/share/facebook.png');
}

#linkedin {
  background: url('../img/share/linkedin.png');
  margin-left: 20px;
}

#twitter {
  background: url('../img/share/twitter.png');
  margin-left: 20px;
}

#fb:hover {
  background-image: url('../img/share/facebook-hover.png');
}

#linkedin:hover {
  background-image: url('../img/share/linkedin-hover.png');
}

#twitter:hover {
  background-image: url('../img/share/twitter-hover.png');
}

/**************************************************
 * Back Home Button
 **************************************************/
.back-home-white,
.back-home-black {
  margin: auto;
  display: inline-block;
  height: 25px;
  width: 140px;
  padding-top: 3px;
  text-decoration: none;
  transition: background-color .5s, color .5s;
}

.back-home-white {
  border: 1px solid #999999;
  color: #999999;
}

.back-home-black {
  border: 1px solid #141213;
  color: #000000;
}

.back-home-white:hover {
  background-color: #999999;
  color: #ffffff;
}

.back-home-black:hover {
  background-color: #141213;
  color: #ffffff;
}

/**************************************************
 * Navbar
 **************************************************/
#navbar {
  position: fixed;
  text-align: center;
  bottom: 20px;
  left: 0px;
  padding-top: 7px;
  background: rgba(0, 0, 0, 0.4);
  height: 30px;
  width: 100%;
}

#navbar ul {
  display: inline-block;
  width: 960px;
  margin: 0;
  padding: 0;
}

#navbar ul li {
  display: inline-block;
  width: 24%;
}

#navbar ul li a {
  font-size: 1em;
  letter-spacing: 1px;
  color: #ffffff;
  text-decoration: none;
  transition: color .5s;
}

#navbar ul li a:hover {
  color: #decf61;
}

/**************************************************
 * Bottom Elements
 **************************************************/
#down-arrow img {
  position: fixed;
  left: 49.5%;
  bottom: 5px;
  padding-left: 0;
  opacity: 0.6;
}

#copyright-box {
  height: 30px;
  width: 250px;
  padding-top: 5px;
  background: rgba(0, 0, 0, 0.4);
}