body {
  margin: 0;
  min-width: 1500px;
  font-family: 'Lato', "Segoe UI", "Myriad Pro", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
}

/**************************************************
 * Z-index Setup
 **************************************************/
#home,
#design-works background{
  z-index: -1;
}

#navbar,
#down-arrow img{
  position: fixed;
  z-index: 0;
}

/**************************************************
 * Home
 **************************************************/
#home {
  position: relative;
  display: block;
  height: 980px;
  text-align: center;
  background: url('../img/cover.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**************************************************
 * About
 **************************************************/
#about {
  display: inline-block;
  position: absolute;
  top: 1000px;
  height: 990px;
  width: 100%;
  visibility: hidden;
}

#about-content {
  display: block;
  height: 750px;
  text-align: center;
  padding: 200px 0 130px 0;
}

#text-about {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 500px;
  top: -20px;
}

#text-about p {
  font-size: 0.8em;
  letter-spacing: 0.3px;
  line-height: 20px;
  text-align: justify;
  color: #000000;
}

/**************************************************
 * Arch
 **************************************************/
#design-works {
  position: relative;
  display: block;
  height: 840px;
  text-align: center;
  padding: 40px 0 40px 0;
  background-color: #231F20;
}

#project-table {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-bottom: 60px;
  padding: 0;
  height: 560px;
  width: 1500px;
}

#project-occupy-a-pool {
  left: 0;
  height: 560px;
  width: 480px;
  background: url('../img/architecture/occupy-a-pool/thumbnail.jpg');
}

#project-pcp-mall-extension {
  left: 480px;
  height: 200px;
  width: 300px;
  background: url('../img/architecture/pcp-mall-extension/thumbnail.jpg');
}

#project-nexus {
  top: 200px;
  left: 480px;
  height: 360px;
  width: 300px;
  background: url('../img/architecture/nexus/thumbnail.jpg');
}

#project-parahyangan-residences {
  left: 780px;
  height: 560px;
  width: 360px;
  background: url('../img/architecture/parahyangan-residences/thumbnail.jpg');
}

#project-redo-glass-house {
  left: 1140px;
  height: 320px;
  width: 360px;
  background: url('../img/architecture/redo-glass-house/thumbnail.jpg');
}

#project-event-balloon {
  top: 320px;
  left: 1140px;
  height: 240px;
  width: 360px;
  background: url('../img/architecture/event-balloon/thumbnail.jpg');
}

.project-trait {
  display: inline-block;
  position: absolute;
  opacity: 0.3;
  transition: opacity .5s;
}

.project-name {
  display: inline-block;
  position: absolute;
  text-align: left;
  left: 15px;
  bottom: 10px;
  font-size: 1.4em;
  letter-spacing: 0.3px;
  color: #ffffff;
  visibility: hidden;
  transition: visibility .1s;
}

#project-occupy-a-pool:hover,
#project-pcp-mall-extension:hover,
#project-nexus:hover,
#project-parahyangan-residences:hover,
#project-redo-glass-house:hover,
#project-event-balloon:hover {
  opacity: 1;
}

#project-occupy-a-pool:hover .project-name,
#project-pcp-mall-extension:hover .project-name,
#project-nexus:hover .project-name,
#project-parahyangan-residences:hover .project-name,
#project-redo-glass-house:hover .project-name,
#project-event-balloon:hover .project-name {
  visibility: visible;
}

/**************************************************
 * Arch-Showcase (Popout)
 **************************************************/

#showcase {
  /* For the blank screen */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 31, 32, .9);

  /* For the content */
  text-align: center;
  padding-top : 100px;
}

/* Disable scrolling while on showcase popout */
body.modal-open {
  overflow: hidden;
}

/* Image navigation line */
#showcase-prev,
#showcase-next,
#showcase-image {
  vertical-align: middle;
}

#showcase-prev,
#showcase-next {
  display: inline-block;
  margin: 20px;
  height: 35px;
  width: 18px;
}

#showcase-prev {
  background: url('../img/arrow-left.png') no-repeat;
}

#showcase-next {
  background: url('../img/arrow-right.png') no-repeat;
}

#showcase-prev:hover,
#showcase-next:hover {
  opacity: .7;
}

/* Showcase text properties */
#showcase-image,
#showcase-title,
#showcase-desc {
  display: inline-block;
  width: 700px;
  color: #ffffff;
  padding-bottom: 15px;
}

#showcase-title {
  font-size: 1.7em;
}

#showcase-desc {
  font-size: .8em;
  text-align: justify;
}

/* Hide the text for anchor tag with text, alternative to 'alt' */
.hide-text {
  line-height: 0;
  font-size: 0;
  color: transparent;
}

/**************************************************
 * Music
 **************************************************/
#music {
  position: relative;
  display: block;
  height: 565px;
  text-align: center;
  padding: 80px 0 80px 0;
  background-color: #ffffff;
}

#music-box {
  display: inline-block;
  position: relative;
  margin: 70px 0 100px 0;
  text-align: center;
  padding: 0;
  height: 250px;
  width: 500px;
}

#music-box1,
#music-box2 {
  position: absolute;
  height: 210px;
  width: 250px;
  padding-top: 40px;
  font-size: 3em;
  color: #ffffff;
  text-decoration: none;
  transition: background .5s;
}

#music-box1 {
  background: url('../img/music/youtube.jpg');
  left: 0;
}

#music-box2 {
  background: url('../img/music/facebook.jpg');
  left: 250px;
}


.music-click {
  visibility: hidden;
}

#music-box1:hover {
  background: #e12a27;
}

#music-box2:hover {
  background: #3b5998;
}

#music-box1:hover .music-click,
#music-box2:hover .music-click {
  visibility: visible;
}

/**************************************************
 * Contact
 **************************************************/
#contact {
  display: block;
  height: 200px;
  min-width: 600px;
  text-align: center;
  padding: 300px 0 200px 0;
  transition: background-color .5s;
}

/**************************************************
 * Footer
 **************************************************/
#footer {
  position: relative;
  display: block;
  height: 30px;
  text-align: center;
  padding: 40px 0 20px 0;
  background: url('../img/footer-batik.jpg');
  z-index: 1;
}

/**************************************************
 * Logo
 **************************************************/
#logo {
  display: inline-block;
  position: relative;
  top: 60px;
  left: -10px;
}

.logo-small {
  display: inline-block;
  position: relative;
  top: -20px;
}

/**************************************************
 * Text
 **************************************************/
.text-black,
.text-gray,
.footer-text-white {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 500px;
  top: -20px;
  letter-spacing: 0.3px;
  line-height: 20px;
}

.text-black,
.text-gray {
  font-size: 0.9em;
  font-weight: 500;
}

.text-black,
.text-large,
.mail-text-gray:hover {
  color: #000000;
}

.text-gray,
.contact-text-gray,
.mail-text-gray {
  color: #999999;
}

.text-large {
  margin-top: 30px;
  font-size: 2.2em;
}

.contact-text-gray,
.mail-text-gray {
  text-decoration: none;
  letter-spacing: 0.3px;
}

.contact-text-gray {
  font-size: 0.9em;
}

.mail-text-gray,
.mail-text-gray:hover {
  font-weight: 700;
}

.footer-text-white {
  color: rgba(255, 255, 255, 0.8);;
  font-size: 0.6em;
}

/**************************************************
 * Social Icons
 **************************************************/
#social-icons {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.circle {
  display: inline-block;
  width: 35px;
  height: 35px;
  opacity: 0.8;
  transition: background .4s;
}

#fb {
  background: url('../img/share/facebook.svg');
}

#linkedin {
  background: url('../img/share/linkedin.svg');
  margin-left: 10px;
}

#twitter {
  background: url('../img/share/twitter.svg');
  margin-left: 10px;
}

#youtube {
  background: url('../img/share/youtube.svg');
  margin-left: 10px;
}

#fb:hover {
  background-image: url('../img/share/facebook-hover.svg');
}

#linkedin:hover {
  background-image: url('../img/share/linkedin-hover.svg');
}

#twitter:hover {
  background-image: url('../img/share/twitter-hover.svg');
}

#youtube:hover {
  background-image: url('../img/share/youtube-hover.svg');
}

/**************************************************
 * Back Home Button
 **************************************************/
.back-home-white,
.back-home-black {
  margin: auto;
  display: inline-block;
  height: 25px;
  width: 140px;
  padding-top: 8px;
  text-decoration: none;
  font-size: .7em;
  font-weight: 700;
  letter-spacing: .7px;
  transition: background-color .5s, color .5s;
}

.back-home-white {
  border: 0.2px solid rgba(0, 0, 0, 0.1);
  color: #999999;
}

.back-home-black {
  border: 0.2px solid #999999;
  color: #999999;
}

.back-home-white:hover {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #231F20;
}

.back-home-black:hover {
  border: 1px solid #231F20;
  background-color: #231F20;
  color: #ffffff;
}

/**************************************************
 * Navbar
 **************************************************/
#navbar {
  text-align: center;
  bottom: 30px;
  left: 0px;
  padding-top: 7px;
  /*border-top: 1px solid rgba(0, 0, 0, 0.1);*/
  height: 30px;
  width: 100%;
}

#navbar ul {
  display: inline-block;
  width: 960px;
  margin: 0;
  padding: 0;
}

#navbar ul li {
  display: inline-block;
  width: 24%;
}

#navbar ul li a {
  font-size: .8em;
  font-weight: 700;
  letter-spacing: 1px;
  color: #999999;
  text-decoration: none;
  transition: color .5s;
}

#navbar ul li a:hover {
  color: #000000;
}

/**************************************************
 * Bottom Elements
 **************************************************/
#down-arrow img {
  left: 49.5%;
  bottom: 0px;
  padding-left: 0;
}

#copyright-box {
  height: 30px;
  width: 350px;
  padding-top: 5px;
  /*border: 1px solid rgba(255, 255, 255, 0.5);;
  /*background: rgba(0, 0, 0, 0.4);
}
